
@{
    ViewData["Title"] = "OrderListAsync";
}

<h1>OrderListAsync</h1>

<div class="container pt-100 mb-5">

    <h1 class="mb-2">Alışveriş Sepetiniz</h1>
    <div class="row">
        <div class="col-12">
            
            <div class="accordion" id="accordionExample">
                <div class="card">
                    @foreach (var orderId in ViewBag.Product)
                    {
                        @foreach (var item in orderId.Value)
                        {
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="@("#"+orderId.Key)" aria-expanded="true" aria-controls="collapseOne">
                                        <ul class="list-group list-group-horizontal-md">
                                            <li class="list-group-item">
                                                @item.ID
                                            </li>
                                            <li class="list-group-item">
                                                <img src="@("~/images/"+item.ImageName)" asp-append-version="true" width="140px" height="150px" />
                                            </li>
                                        </ul>
                                    </button>
                                </h2>
                            </div>
                            break;
                        }
                    }
                    @foreach (var orderId in ViewBag.Product)
                    {
                        @foreach (var item in orderId.Value)
                        {
                            <div id="@orderId.Key" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul class="list-group list-group-horizontal-md">
                                        <li class="list-group-item"><img src="@("~/images/"+item.ImageName)" asp-append-version="true" width="140px" height="150px" /></li>
                                        <li class="list-group-item">@item.Name</li>
                                        <li class="list-group-item">@item.Category</li>
                                        <li class="list-group-item">@item.Brand</li>
                                        <li class="list-group-item">@item.Size</li>
                                        <li class="list-group-item">@item.Price</li>
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>


            @if (ViewBag.Product == null)
            {
                <div class="alert alert-warning mt-3">
                    Sepetinizde ürün yok <br>
                    <button routerLink="/shop" class="btn btn-link p-0">
                        Alışverişe devam etmek için tıklayınız.
                    </button>
                </div>
            }

        </div>
    </div>

</div>

